# {{PROJECT_NAME}} Roadmap

Roadmap items. Section 1 are planned roadmap items and section 2 are nice-to-haves and product differentiator ideas.

## Section 1: Scheduled Roadmap Items

---

## Section 2: Future features
